<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361152704948-r2tmm7jrel91lmqlm84d4fblodmnggqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361152704948-r2tmm7jrel91lmqlm84d4fblodmnggqc</string>
	<key>API_KEY</key>
	<string>AIzaSyCcwNpV1iFJe9272CHlPr6-n1VOStJQ3Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>361152704948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CanKanbur.todoListiA</string>
	<key>PROJECT_ID</key>
	<string>todolistia</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361152704948:ios:d50bce44eb27570c3942e1</string>
</dict>
</plist>